<form method="POST" action="/links">
  <label for="url">URL</label>
  <input name="url" type="text">
  <label for="title">Title</label>
  <input name="title" type="text">
  <label for="tag">Tag</label>
  <input name="tag" type="text">
  
  <input type="submit" value="Create link">
</form>
