<form method="POST" action="/links">
  <label for="url">url</label>
  <input name="url" type="text">
  <label for="title">title</label>
  <input name="title" type="text">
  <input type="submit" value="Create link">
</form>
